.ReactModal__Body--open {
    overflow: hidden;

    .ReactModalPortal {
        .ReactModal__Overlay--after-open {
            background-color: rgba(53, 53, 53, 0.9) !important;
            z-index: 2;

            .ReactModal__Content--after-open {
                width: 850px;
                background-color: rgb(20, 20, 20) !important;
                margin-left: auto;
                margin-right: auto;
                border: none !important;
                height: 100%;
                overflow-y: scroll;
                padding: 0 !important;
            }
        }
    }
}

.modal {
    &__image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    &__playButton {
        align-self: center;
        width: 70px;
        height: 70px;
        background: rgba(0, 0, 0, 0.35);
        border: 3px solid #E8E8E8;
        border-radius: 100%;
        cursor: pointer;

        &:focus {
            outline: 0;
            border: 1px solid hsl(210, 58%, 69%);
            box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
        }

        &::after {
            content: '';
            display: inline-block;
            position: relative;
            top: 1px;
            left: 3px;
            border-style: solid;
            border-width: 15px 0 15px 25px;
            border-color: transparent transparent transparent #E8E8E8;
        }
    }

    &--fadeBottom {
        display: flex;
        flex-direction: column-reverse;
        height: 7.4rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    }

    &__contents {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

    }

    &__title {
        margin: 0 20px 10px 40px;
        color: white;
    }

    &__raiting {}

    &__description {}

}